<%- include('partials/header') -%>
<head>
   
</head>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const contactForm = document.getElementById('contactForm');

    contactForm.addEventListener('submit', function (event) {
      event.preventDefault();

      const name = document.getElementById('name').value;
      const subject = document.getElementById('subject').value;
      const email = document.getElementById('email').value;
      const message = document.getElementById('msg').value;

      // Send the form data to the server
      fetch('/send-email', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ name, subject, email, message }),
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
          // Handle the response from the server if needed
          // For example, you can show a success message to the user
        })
        .catch((error) => {
          console.error('Error sending email:', error);
          // Handle any errors that occur during form submission
        });
    });
  });
</script>

<body>
 
<div class="main-wrapper">
  <section class="contact">
      <div id="contact-left" style="margin-top: 7rem;">
          <h1 class="contactTitle">Contact Us</h1>
          <h1>At Graceful Bowls</h1>
          <br>
          <img style="width: 40em; margin-left: auto; margin-right: auto;" src="/images/4sis.jpg">
      </div>
      <div class="contact-form">
          <div class="form-header">
            <br>
            <br>
            <h3>Our team would love to hear from you!</h3>
            <h3></h3>
            <h5>Have comments, questions, feedback, to share?</h5>
            <h5>Also send your requests for our catering options, our team members are</h5>
            <h5>more than happy to craft a custom order for your needs!</h5>
          </div>
        
          <form id="contactForm">
            <div class="form">
              <div class="contact-row">
                <input type="text" id="name" placeholder="Name">
                <input type="text" id="subject" placeholder="Subject">
              </div>
              <div class="email">
                <input type="email" id="email" placeholder="Email">
              </div>
              <div class="msg">
                <textarea name="msg" id="msg" cols="43" rows="6" placeholder="Message"></textarea>
              </div>
              <br>
              <div class="about-button">
                <button class="btn btn-main" id="submitButton" type="submit">Send</button>
              </div>
            </div>
          </form>
        </div>          
  </section>

  <br>
  <br>
  <br>

  <section class="more-info">
      <div>
        <div>
            <h4>Our Social Links</h4>
            <h5>Follow our social media account for up to date.</h5>
        </div>
        <div class="sm-icons">
            <ul class="social-media-icons">
                <li>
                    <a href="https://www.facebook.com/profile.php?id=61561050333764">
                      <img src="/images/facebook.png" alt="facebook icon">
                    </a>
                </li>
                <li>
                    <a href="https://www.tiktok.com/@graceful.bowls?_t=8p0m7DVwwrm&_r=1">
                      <img src="/images/tiktocIcon.png" alt="tiktok icon">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/gracefulbowls/">
                        <img src="/images/instagram.png" alt="instagram icon">
                    </a>
                </li>
                <li>
                    <a href="https://www.yelp.com/biz/graceful-bowls-shelbyville">
                        <img src="/images/yelpIcon.svg" alt="yelp icon">
                    </a>
                </li>
            </ul>
            <h5><a href="mailto: gracefulbowlstn@gmail.com">gracefulbowlstn@gmail.com</a></h5>
          </div>
      </div>
      <div>
        <br>
        <h4>Address</h4>
        <a href="https://www.google.com/maps/place/1731+N+Main+St,+Shelbyville,+TN+37160">
          <h5>1731 N Main St E</h5>
          <h5>Shelbyville, TN 37160</h5>
        </a>
        <br>
      </div>
      <div>
        <br>
        <h4>Phone Number</h4>
        <a href="tel: 9314924119">
          <h5>(931) 684-4119</h5>
        </a>
      </div>
  </section>
</div>

</body>
<%- include('partials/footer') -%>